<div class="search-form mt-4">
    <form method="POST" action="/search">
        <div class="form-group">
            <label for="keyword">Từ khóa</label>
            <input type="text" class="form-control" id="keyword" name="keyword" aria-describedby="searchHelp"
                placeholder="Điền từ khóa">
            <small id="searchHelp" class="form-text text-muted">Điền từ khóa bạn muốn tìm kiếm vào đây.</small>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>